NEXT_PUBLIC_SUPABASE_URL=cole_a_project_url_do_supabase
NEXT_PUBLIC_SUPABASE_ANON_KEY=cole_a_anon_public_key_do_supabase
SUPABASE_SERVICE_ROLE_KEY=cole_a_service_role_key_apenas_na_vercel
NEXT_PUBLIC_ADMIN_PASSWORD=troque_esta_senha
